$gray: #eee;

md-content.md-default-theme {
  background-color: $gray;
}

md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}
md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; // round toolbar buttons
  }
}
h2 {
  font-weight: 400;
}

// Fixing the blaze-template login begin dimmed issue.
// .md-toolbar-tools-bottom {
//   font-size: small;
//   & :last-child {
//     opacity: 0.8;
//   }
// }

md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}
md-sidenav {
  fill: #737373;
  ng-md-icon {
    position: relative;
    // Fixing the issue of misplaced icon in md-icon
    //top: 5px; // adjust for svg viewbox
  }
}

.md-button.md-fab {
    z-index: 20;
    line-height: 66px;
  }

.user-avatar {
  border-radius: 99%;
}
