<md-content layout="row" class="md-padding pad-ver-0" ng-controller="NewMessageController">
  <md-input-container flex="80">
    <label>Send Message</label>
    <input ng-model="message" key-enter="addMessage()">
  </md-input-container>
  <md-input-container flex="13">
    <md-item>
      <md-button class="md-raised" ng-click="sendPicture()" aria-label="Cam">
        <!-- Cam -->
        <ng-md-icon icon="camera"></ng-md-icon>
      </md-button>
    </md-item>
  </md-input-container>
</md-content>
