<div layout="column" class="relative" layout-fill role="main">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
        <ng-md-icon icon="menu"></ng-md-icon>
      </md-button>
      <span flex></span>
      <h3>
        {{room.name}}
      </h3>
      <span flex></span>
    </div>
  </md-toolbar>
  <md-content flex md-scroll-y>
    <ui-view layout="column" layout-fill layout-padding>
      <div layout="row" layout-align="center center">
        <md-card flex-gt-sm="90" flex-gt-md="80">
          <md-card-content>
            <md-list>
              <md-item dir-paginate="m in messages | itemsPerPage: perPage" total-items="messagesCount.count"
              current-page='page'>
                <md-item-content>
                  <div class="md-tile-left inset" hide-sm>
                    <p ng-hide="m.isImage">
                      <div ng-bind-html="m.name + ' : ' + m.message | emoticons:{linkTarget:'_blank'}">
                      </div>
                      <!-- <div ng-bind-html="m.name + ' : ' + m.message | emoji">
                      </div> -->
                    </p>
                    <img ng-show="m.isImage" flex="100" ng-src="{{ m.imageData }}" />
                  </div>
                  <div class="md-tile-content">
                    <!-- <h6>{{m.createdAt}}</h6> -->
                  </div>
                </md-item-content>
                <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                <md-divider hide-gt-sm ng-if="!$last"></md-divider>
              </md-item>
              <md-divider></md-divider>
              <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
            </md-list>
          </md-card-content>
        </md-card>
      </div>
      <new-message></new-message>
    </ui-view>
  </md-content>
</div>
