<md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="right"
md-is-locked-open="$mdMedia('gt-md')">
  <div ng-controller="RoomsController">
    <md-toolbar class="md-tall md-hue-2">
      <span flex></span>
      <div layout="column" class="md-toolbar-tools-bottom inset">
        <user-avatar></user-avatar>
        <span></span>
        <br/>
        <blaze-template name="loginButtons"></blaze-template>
      </div>
    </md-toolbar>
    <md-list>
      <div ng-hide="$root.currentUser">
        <md-subheader>
          <h3>Please login!</h3>
        </md-subheader>
      </div>
      <div ng-show="$root.currentUser">
        <md-subheader>Topics</md-subheader>
        <md-item ng-repeat="room in rooms" href="/room/{{room._id}}">
          <md-divider ng-if="$first"></md-divider>
          <a>
            <md-item-content class="md-tile-content" layout="row" layout-align="start" layout-wrap>
              <md-button class="md-primary" flex="100" ui-sref="room({roomId: room._id})">
                <ng-md-icon icon="group"></ng-md-icon>
                {{room.name}}
              </md-button>
            </md-item-content>
          </a>
          <md-divider ng-if="$last"></md-divider>
        </md-item>
      </div>
      <md-button ng-disabled="!$root.currentUser" class="md-fab md-fab-bottom-right" aria-label="Add"
      ng-click="showAdd($event)">
        <ng-md-icon icon="add"></ng-md-icon>
      </md-button>
    </md-list>
  </div>
</md-sidenav>
